@-webkit-keyframes gyumin {
	0%{
		margin-left: 0;
		transform: rotate(0deg);
	}

	50%{
		margin-left: 80%;
		transform: rotate(360deg);
	}

	100%{
		margin-left: 0;
	}
}

.box {
	width:100px;
	height:100px;
	background-color: green;
	animation-name: gyumin;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transition-property: background-color;
	transition-duration: 2s
}

.box:hover {
	animation-play-state: paused;
	background-color: red;
	transition-property: background-color;
	transition-duration: 0s
}
